http://www.springframework.org/schema/beans/spring-beans.xsd (xsi:schemaLocation)
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="db" class="org.example.service.DatabasePersistenceManager"></bean>
    <bean id="file" class="org.example.service.FilePersistenceManager"></bean>
    <bean id="dbUtils" class="org.example.util.DatabaseUtils"></bean>
    <bean id="fileUtils" class="org.example.util.FileUtils"></bean>

</beans>